
{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },

  "ConnectionStrings": {
    "DefaultConnection": "Data Source=./Data/AppDb.db"
  },
  "Telegram": {
    "Token": "PUT_YOUR_TOKEN_HERE"
  },
  "AllowedHosts": "*"
}
