@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

	ViewData["Title"] = "Budget View";

}


<div class="col-md-6">

	<div class="card">

		<div class="row bg-light g-0 ">


			<div class="card-header">
				<h3 class="text-center card-title ">
					Budget Card
					<a class="text-danger float-end text-decoration-none " asp-action="Index"><i class="bi bi-box-arrow-left"></i> </a>
				</h3>

			</div>



			<div class="col-md-6">
				<div class="card-body">


					<p class="card-text"><b>WC date:</b> {date}</p>
					<p class="card-text"><b>Week:</b> {Week:NUmber}</p>
					<p class="card-text"><b>Month:</b> {Month}</p>


				</div>
			</div>

			<div class="col-md-6">
				<div class="card-body">
					<div class="form-floating">
						<input class="form-control-sm mb-2 " title="Number of Cases/Day" placeholder="Number of Cases/Day" />
					</div>

					<p>Average Monthly mins/case: {hours}</p>
					<p>Total Minutes: {minutes}</p>
					<p>Total Hours Allowed: {hours}</p>

				</div>

			</div>

			@*<div class="row">
			<div class="col-md-12">
			<div class="card-body">
			<div class="form-floating mb-3">
			<input id="casesInput" class="form-control" placeholder="Number of Cases/Day" /><label for="casesInput">Number of Cases/Day</label>
			</div>

			<p>Average Monthly mins/case: {hours}</p>
			<p>Total Minutes: {minutes}</p>
			<p>Total Hours Allowed: {hours}</p>
			</div>
			</div>


			</div>*@

			<div class="row">

				<div class="col-md-12">


					<p class="text-decoration-underline"><b>DIRECT HC Only Input</b></p>

					<table class="table table-borderless text-center">
						<thead>
							<tr class="table-bordered">
								<th>Cost Centre</th>
								<th>Direct Role</th>
								<th>HC</th>
								<th>Hrs per shift per person</th>
								<th>Total Hours</th>
							</tr>
						</thead>


						<tbody>
							<tr>

							<tr style="border-top:solid;">

								<td>{cost centre}</td>
								<td>{role}</td>
								<td><input class="form-control-sm w-75" type="number" title="Head Count" placeholder="Head Count" /></td>
								<td><input class="form-control-sm w-75" type="number" title="Hours" placeholder="Hours" /></td>
								<td>{total Hours}</td>
							</tr>
							<tr>
								<td>{cost centre}</td>
								<td>{role}</td>
								<td><input class="form-control-sm w-75" type="number" title="Head Count" placeholder="Head Count" /></td>
								<td><input class="form-control-sm w-75" type="number" title="Hours" placeholder="Hours" /></td>
								<td>{total Hours}</td>
							</tr>
							<tr>
								<td>{cost centre}</td>
								<td>{role}</td>
								<td><input class="form-control-sm w-75" type="number" title="Head Count" placeholder="Head Count" /></td>
								<td><input class="form-control-sm w-75" type="number" title="Hours" placeholder="Hours" /></td>
								<td>{total Hours}</td>
							</tr>


							<tr>
								<td></td>
								<td class="text-end" style="border-bottom:double;" colspan="2"><b>Total Direct Hours:</b></td>
								<td></td>
								<td class="text-center" style="border-bottom:double;">{total Hours}</td>

							</tr>


							<tr>
								<td class="text-end" colspan="3"><b>Agency Hours:</b></td>
								<td class="text-center">{total Hours}</td>
								<td></td>
							</tr>
							<tr>
								<td></td>
								<td class="text-end" style="border-bottom:double;" colspan="2"><b>Agency Heads Available:</b></td>
								<td class="text-center" style="border-bottom:double;" colspan="1">{Head Count}</td>
								<td></td>
							</tr>



						</tbody>

					</table>

					



				</div>

			
			</div>
			<div class="card-footer g-0 text-end text-muted" style="font-size:0.8rem;">
				<span>
					
					Last Updated: @DateTime.Now.ToLongDateString() by {User}


				</span>
			</div>

		</div>







	</div>
</div>
