@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Available Cost Centers";
}

<h1>Welcome to Cost Centers Index Page</h1>